* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media(min-width: 992px){
    .class-ld{
        width: 30%;
        float: left;
        margin: 5px;
    }
}

@media(min-width: 768px) and (max-width: 991px){
    .class-md{
        width: 49%;
        float: left;
        margin: 2px;
    }
    #sec3{
        clear: left;
        width: 98%;
        margin: 4px;
    }
}

@media(max-width: 767px){
    div{
        margin: 4px;
    }
}

h1{
    text-align: center;
}

h3{
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
}

div{
    position: relative;
    background: #A9A9A9;
    border: 1px solid black;
    margin-bottom: 15px;
    padding-top: 20px;
}

#title1{
    background: #F5F5DC;
}

#title2{
    background: #DEB887;
}

#title3{
    background: #E9967A;
}

